YuiiChan/config.py
YuiiChan/*.session
YuiiChan/*.session-journal
YuiiChan/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
YuiiChan/modules/helper_funcs/temp.txt
YuiiChan/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
saitama.session-journal
updates.txt
*.exe